<div class="slide visible">
  <div class="header">
    <h1 class="title">Title1</h1>
  </div>

  <div class="content">
    <h2>Content1</h2>
    <p>paragraph1</p>
  </div>
</div>

<div class="slide">
  <div class="header">
    <h1 class="title">Title2</h1>
  </div>

  <div class="content center">
    <h2>Content2</h2>
    <p>paragraph2</p>
  </div>
</div>

<div class="slide">
  <div class="header">
    <h1 class="title">Title3</h1>
  </div>

  <div class="content">
    <h2>Content3</h2>
    <p>paragraph3</p>
  </div>
</div>

<div class="slide">
  <div class="header">
    <h1 class="title">Title4</h1>
  </div>

  <div class="content">
    <p>paragraph4</p>
  </div>
</div>
