<div class="fixed">
  <div class="logo">
    <img src="{{ url_for('static', filename='images/logoIF.png') }}" />
  </div>

  <a href="/" class="" id="home-aside">
    <span class="material-symbols-sharp"> home </span>
    <h3>Home</h3>
  </a>

  <a href="/artigo" class="" id="article-aside">
    <span class="material-symbols-sharp"> menu_book </span>
    <h3>Artigo</h3>
  </a>

  <a href="/dashboard" class="" id="dashboard-aside">
    <span class="material-symbols-sharp"> monitoring </span>
    <h3>Dashboard</h3>
  </a>

  <a href="/slides" class="" id="slides-aside">
    <span class="material-symbols-sharp"> slideshow </span>
    <h3>Slides</h3>
  </a>
</div>
